.eventsFis {
  background: #312d61;
  text-align: center;
}

.eventsFis .eventsLogo {
  width: 21rem;
  height: 6rem;
  margin: 2.5rem 0 2rem 0;
}

.eventsFis .eventGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.eventGroup .fisGroup,
.eventGroup .lyggaGroup,
.eventGroup .smGroup,
.eventGroup .commeetsGroup {
  width: 32rem;
  height: 32rem;
  border-radius: 22% 8% 8% 0 / 17% 7% 7% 70%;
  background: #53507D;
  color: #FFF;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;

  margin-top: 2rem;
}

.eventGroup .lyggaGroup,
.eventGroup .commeetsGroup {
  margin-top: 5rem;
}

.eventGroup img {
  height: auto;
  margin: 1rem 0 -.5rem 0;
}

.eventGroup .fisGroup img,
.eventGroup .lyggaGroup img {
  width: 13rem;
}

.eventGroup .smGroup img,
.eventGroup .commeetsGroup img {
  width: 12rem;
}

.eventGroup p {
  width: 25rem;
  height: 13rem;
  font-size: 1.3rem;
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: -1rem;
}

.eventGroup p::-webkit-scrollbar {
  display: none;
}

.eventGroup a {
  margin-top: -1rem;
}

.eventGroup button {
  width: 10rem;
  height: 2.7rem;
  border-radius: 8rem;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #2A2850;
  margin: -2rem 0 1.5rem 0;
}

.eventGroup button:hover {
  filter: brightness(1.2);
}

.eventsFis .metricsGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #FFF;
  margin: 5rem 0 6rem 0;
}

.metricsGroup .metricsOne h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: -11rem 0 0 0;
}

.metricsGroup .metricsTwo h1,
.metricsGroup .metricsThree h1,
.metricsGroup .metricsFour h1,
.metricsGroup .metricsFive h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: -10rem 0 0 0;
}

.metricsGroup .metricsOne span,
.metricsGroup .metricsTwo span,
.metricsGroup .metricsThree span,
.metricsGroup .metricsFour span,
.metricsGroup .metricsFive span {
  font-size: 1.4rem;
  font-weight: 700;
}