.background {
  text-align: center;
  position: relative;
}
.videoImage {
  width: 100%;
  height: 100%;
}
.background h1 {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1000px;
  margin-left: 350px;
  position: absolute;
  font-size: 3rem;
  font-weight: 700;
}
.background .iframeVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: -53rem;
  margin-left: 150px;
  position: absolute;
}
.videoButton {
  display: flex;
  justify-content: center;
  margin-top: -150px;
}
.videoButton .videobuttonLink {
  width: 379px;
  height: 62.06px;
  border-radius: 8rem;
  border: 0;
  background: #ff4063;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 3.535rem;
  text-align: center;
  margin-top: 2rem;
  transition: 0.1s;
  margin-left: -40px;
}
.videobuttonLink:hover {
  filter: brightness(1.2);
}
@media (min-width: 360px) and (max-width: 550.98px) {
  .background h1 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -300px;
    margin-left: 43px;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: -140px;
  }
  .videoButton .videobuttonLink {
    width: 211px;
    height: 46.06px;
    border-radius: 8rem;
    border: 0;
    background: #ff4063;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3.535rem;
    text-align: center;
    margin-top: 6rem;
    transition: 0.1s;
    margin-left: 0px;
  }
  .background .iframeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -17rem;
    margin-left: 48px;
    position: absolute;
    width: 300px;
    height: 173px;
  }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 550px) and (max-width: 575.98px) {
  .background h1 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -421px;
    margin-left: 56px;
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
  }
  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: -140px;
  }
  .videoButton .videobuttonLink {
    width: 379px;
    height: 62.06px;
    border-radius: 8rem;
    border: 0;
    background: #ff4063;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 3.535rem;
    text-align: center;
    margin-top: 4rem;
    transition: 0.1s;
    margin-left: -40px;
  }
  .background .iframeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -25rem;
    margin-left: 30px;
    position: absolute;
    width: 450px;
    height: 250px;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .background h1 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -421px;
    margin-left: 56px;
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
  }
  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: -140px;
  }
  .videoButton .videobuttonLink {
    width: 379px;
    height: 62.06px;
    border-radius: 8rem;
    border: 0;
    background: #ff4063;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 3.535rem;
    text-align: center;
    margin-top: 4rem;
    transition: 0.1s;
    margin-left: -40px;
  }
  .background .iframeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -25rem;
    margin-left: 30px;
    position: absolute;
    width: 450px;
    height: 250px;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .background h1 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -550px;
    margin-left: 181px;
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
  }
  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: -140px;
  }
  .videoButton .videobuttonLink {
    width: 379px;
    height: 62.06px;
    border-radius: 8rem;
    border: 0;
    background: #ff4063;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 3.535rem;
    text-align: center;
    margin-top: 4rem;
    transition: 0.1s;
    margin-left: -40px;
  }
  .background .iframeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -33rem;
    margin-left: 73px;
    position: absolute;
    width: 550px;
    height: 360px;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .background h1 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -732px;
    margin-left: 181px;
    position: absolute;
    font-size: 3rem;
    font-weight: 700;
  }
  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: -140px;
  }
  .videoButton .videobuttonLink {
    width: 379px;
    height: 62.06px;
    border-radius: 8rem;
    border: 0;
    background: #ff4063;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 3.535rem;
    text-align: center;
    margin-top: 4rem;
    transition: 0.1s;
    margin-left: -40px;
  }
  .background .iframeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -44rem;
    margin-left: 73px;
    position: absolute;
    width: 800px;
    height: 500px;
  }
}
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .background h1 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -870px;
    margin-left: 275px;
    position: absolute;
    font-size: 3rem;
    font-weight: 700;
  }
  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: -150px;
  }
  .videoButton .videobuttonLink {
    width: 379px;
    height: 62.06px;
    border-radius: 8rem;
    border: 0;
    background: #ff4063;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 3.535rem;
    text-align: center;
    margin-top: 4rem;
    transition: 0.1s;
    margin-left: -40px;
  }
  .background .iframeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -53rem;
    margin-left: 47px;
    position: absolute;
  }
}
