.background {
  text-align: center;
  position: relative;
}
.videoImage {
  width: 100%;
  height: 100%;
}
.background h1 {
  width: 45rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -62rem;
  margin-left: 18rem;
  position: absolute;
  font-size: 3rem;
  font-weight: 700;
}
.background .iframeVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: -51rem;
  margin-left: 150px;
  position: absolute;
}
.videoButton {
  display: flex;
  justify-content: center;
  margin-top: -150px;
}
.videoButton .videobuttonLink {
  width: 379px;
  height: 62.06px;
  border-radius: 8rem;
  border: 0;
  background: #ff4063;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 3.535rem;
  text-align: center;
  margin-top: 1rem;
  transition: 0.1s;
  margin-left: -40px;
}
.videobuttonLink:hover {
  filter: brightness(1.2);
}

@media (min-width: 375px) and (max-width: 512px) {
  .background {
    height: auto;
  }

  .background h1 {
    width: 27rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -21.7rem;
    margin-left: -.5rem;
    position: absolute;
    font-size: 1rem;
    font-weight: 700;
  }
  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: -140px;
  }

  .background .iframeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -20rem;
    margin-left: 1.5rem;
    position: absolute;
    width: 350px;
    height: 230px;
  }

  .videoButton .videobuttonLink {
    width: 15rem;
    height: 2.5rem;
    border-radius: 8rem;
    border: 0;
    background: #ff4063;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    text-align: center;
    margin-top: 7rem;
    transition: 0.1s;
    margin-left: 0px;
  }
}

@media (min-width: 513px) and (max-width: 550.98px) {
  .background h1 {
    width: 20rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -27.5rem;
    margin-left: 8rem;
    position: absolute;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: -140px;
  }
  .videoButton .videobuttonLink {
    width: 200px;
    height: 35px;
    border-radius: 8rem;
    border: 0;
    background: #ff4063;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    text-align: center;
    margin-top: 7rem;
    transition: 0.1s;
    margin-left: 0px;
  }
  .background .iframeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -23rem;
    margin-left: 1.5rem;
    position: absolute;
    width: 450px;
    height: 250px;
  }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 550px) and (max-width: 575.98px) {
  .background h1 {
    width: 25rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -29rem;
    margin-left: 6rem;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: -140px;
  }
  .videoButton .videobuttonLink {
    width: 17rem;
    height: 4rem;
    font-size: 1.2rem;
    border-radius: 8rem;
    border: 0;
    background: #ff4063;
    color: #fff;
    font-weight: 500;
    line-height: 3.535rem;
    text-align: center;
    margin-top: 5rem;
    transition: 0.1s;
    margin-left: -40px;
  }
  .background .iframeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -24rem;
    margin-left: 3rem;
    position: absolute;
    width: 450px;
    height: 250px;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .background h1 {
    width: 30rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -29rem;
    margin-left: 5rem;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: -140px;
  }
  .videoButton .videobuttonLink {
    width: 260px;
    height: 48.06px;
    font-size: 1.2rem;
    border-radius: 8rem;
    border: 0;
    background: #ff4063;
    color: #fff;
    font-weight: 500;
    line-height: 3.535rem;
    text-align: center;
    margin-top: 5rem;
    transition: 0.1s;
    margin-left: -40px;
  }
  .background .iframeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -24.5rem;
    margin-left: 30px;
    position: absolute;
    width: 450px;
    height: 250px;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .background h1 {
    width: 30rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40rem;
    margin-left: 10rem;
    position: absolute;
    font-size: 2rem;
    font-weight: 700;
  }

  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: -140px;
  }
  .videoButton .videobuttonLink {
    width: 379px;
    height: 62.06px;
    border-radius: 8rem;
    border: 0;
    background: #ff4063;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 3.535rem;
    text-align: center;
    margin-top: 4rem;
    transition: 0.1s;
    margin-left: -40px;
  }
  .background .iframeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -33rem;
    margin-left: 73px;
    position: absolute;
    width: 550px;
    height: 360px;
  }

  .videoButton .videobuttonLink {
    margin-top: 5rem;
  }  
}
/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .background h1 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -732px;
    margin-left: 181px;
    position: absolute;
    font-size: 3rem;
    font-weight: 700;
  }
  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: -140px;
  }
  .videoButton .videobuttonLink {
    width: 379px;
    height: 62.06px;
    border-radius: 8rem;
    border: 0;
    background: #ff4063;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 3.535rem;
    text-align: center;
    margin-top: 4rem;
    transition: 0.1s;
    margin-left: -40px;
  }
  .background .iframeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -44rem;
    margin-left: 73px;
    position: absolute;
    width: 800px;
    height: 500px;
  }
}
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .background h1 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -870px;
    margin-left: 275px;
    position: absolute;
    font-size: 3rem;
    font-weight: 700;
  }
  .videoButton {
    display: flex;
    justify-content: center;
    margin-top: -150px;
  }
  .videoButton .videobuttonLink {
    width: 379px;
    height: 62.06px;
    border-radius: 8rem;
    border: 0;
    background: #ff4063;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 3.535rem;
    text-align: center;
    margin-top: 4rem;
    transition: 0.1s;
    margin-left: -40px;
  }
  .background .iframeVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: -53rem;
    margin-left: 47px;
    position: absolute;
  }
}
