.button .container {
    background-color: #4F67F3;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 15px;
    width: auto;
}

.button img {
    height: 20px;
    margin-right: 5px;
}

.button button {
    background-color: #4F67F3;
    border: 0;
    color: #fff;
    font-family: "Montserrat-Regular";
    font-size: 16px;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 575.98px) {
    .button button {
        font-size: 12px;
    }
}