button.supportbutton {
  top: 40%;
  position: absolute;
  outline: 0;
  transition: all 500ms;
  border-radius: 35px;
  z-index: 500;
  border: 0;
  font-size: 10px;
  line-height: 1;
  opacity: 0.75;
}
button.left {
  transform: translate(10%, -30%);
}
button.right {
  right: -3px;
  transform: translate(40%, -30%);
}
.Support {
  color: #fff;
  position: relative;
  border-bottom: 5px solid #808080;
}

