.newsletter {
  height: 850px;
  overflow: hidden;
  position: relative;
}

.newsletter h2 {
  color: #fff;
  font-family: 'Montserrat-Bold';
  font-size: 32px;
  position: relative;
  top: 305px;
  width: 445px;
  text-align: center;
}

.newsletter img.main {
  left: 150px;
  position: absolute;
  top: 58px;
}

.newsletter img.shape1 {
  height: 90px;
  left: 116px;
  position: absolute;
  top: 0;
}

.newsletter img.shape2 {
  height: 168px;
  left: 0;
  position: absolute;
  top: 60px;
}

.newsletter img.shape3 {
  left: 470px;
  position: absolute;
  top: 630px;
}

.newsletter .content {
  background-color: #fff;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 290px;
  left: 20px;
  padding: 30px;
  position: absolute;
  top: 500px;
  width: 400px;
}

.newsletter .content h3, .newsletter .content h4 {
  color: #2A2850;
  font-family: 'Montserrat-Bold';
  text-align: center;
  width: 100%;
}

.newsletter .content h3 {
  font-size: 24px;
  margin-bottom: 30px;
}

.newsletter .content h4 {
  font-size: 18px;
}

.newsletter .content .textInput {
  margin-bottom: 30px;
}

.newsletter .content .checked {
  height: 40px;
  margin-bottom: 15px;
}

.newsletter .content .social {
  margin-bottom: 20px;
  text-align: center;
}

.newsletter .content .social img {
  height: 35px;
  margin: 5px;
}

.newsletter .content .button {
  width: 100%;
  text-align: center;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .newsletter {
      margin-top: 20px;
  }

  .newsletter img.main {
      height: 358px;
      top: 76px;
  }

  .newsletter img.shape2 {
      height: 160px;
  }

  .newsletter img.shape3 {
    left: 412px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .newsletter {
      margin-top: 20px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .newsletter h2 {
      top: 230px;
  }

  .newsletter img.main {
      height: 300px;
  }

  .newsletter img.shape1 {
      height: 76px;
      left: 92px;
  }

  .newsletter img.shape2 {
      height: 145px;
  }

  .newsletter img.shape3 {
      height: 180px;
      left: 374px;
      top: 670px;
  }

  .newsletter .content {
      top: 410px;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .newsletter h2 {
        top: 250px;
    }

    .newsletter img.main {
        height: 388px;
    }

    .newsletter img.shape1 {
        height: 82px;
        left: 105px;
    }

    .newsletter img.shape2 {
        height: 155px;
    }

    .newsletter img.shape3 {
        height: 220px;
        left: 444px;
        top: 630px;
    }
    
    .newsletter .content {
        top: 430px;
    }
}