.newsletter {
  max-width: 720px;
  height: 830px;
}

.geometric-shapes4 {
  position: absolute;
  left: 64%;
  right: 21.39%;
  top: -0.3%;
  bottom: 89.61%;
}

.geometric-shapes5 {
  position: absolute;
  left: 53%;
  right: -3.51%;
  top: 5%;
  bottom: 73.93%;
}

.image2 {
  width: 33%; 

  position: absolute;
  left: 67%;
  right: -0.03%;
  top: 9%;
  bottom: 48.05%;
}

.newsletter h2 {
  width: 523px;
  word-wrap: break-word;

  position: absolute;
  left: 50%;
  right: 12.92%;
  bottom: 55.5%;

  color: #FFF;

  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 4.3rem;
  text-align: center;
}

form {
  width: 428px;
  height: 290px;

  position: absolute;
  left: 53.5%;
  right: 16.18%;
  bottom: 25%;

  border-radius: 0 15% 0 15%;
  background: #FFFFFF;
 
  margin-top: 40px;
  padding-top: 27px;
}

form h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;
  color: #2A2850;

  margin-bottom: 40px;
}

.label-input {
  background: #D2D7EE;
  color: #2E2E5D;

  display: flex;
  align-items: center;

  margin-inline: 7%;
  margin-bottom: 31.13px;

  padding-left: 1rem;
}

.label-margin-small {
  margin-bottom: 25px;
}

form input[type=text],
form input[type=email] {
  width: 370px;
  height: 39.87px;
  background: #D2D7EE;
  color: #2E2E5D;

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19.5px;

  padding-left: 11px;
}

form input::placeholder {
  color: #2E2E5D;
}

form button {
  width: 142.97px;
  height: 33.3px;

  background: #4F67F3;
  border-radius: 21px;

  color: #FFF;
  font-size: 1.6rem;
  cursor: pointer;
}

form button:hover {
  filter: brightness(1.1);
}

.form-send .h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;
  color: #2A2850;

  padding-top: 1rem;
}

.form-send h4 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.194rem;
  text-align: center;
  color: #2A2850;

  padding-top: 2.5rem;
}

.form-send .icons-form {
  display: flex;
  justify-content: center;
  gap: 1rem;

  padding-top: .7rem;
}

.form-send .button button {
  width: 274px;
  text-align: center;

  margin-top: 3rem;
}

.geometric-shapes6 {
  position: absolute;
  left: 88.6%;
  right: -9.51%;
  top: 63%;
}


@media (max-width: 1200px) {

  /* ==== GLOBAL ===========================*/
  html {
    font-size: 50%;
  }

  /* ==== NEWSLETTER =======================*/
  .geometric-shapes4 {
    width: 20%;

    position: absolute;
    left: 63%;
    right: 21.39%;
    top: -0.3%;
    bottom: 89.61%;
  }
  
  .geometric-shapes5 {
    width: 17%;

    position: absolute;
    left: 51%;
    top: 5%;
  }
  
  .image2 {
    width: 35%; 
  
    position: absolute;
    left: 65%;
    top: 11%;
  }
  
  .newsletter h2 {
    width: 40%;
    
    position: absolute;
    left: 48.5%;
    bottom: 58%;

    font-size: 2.9rem;
  }
  
  form {
    width:35%;
    height: 25%;
  
    position: absolute;
    left: 51%;
    bottom: 30%;
  }
  
  form h3 {
    font-size: 2.2rem;
    margin-bottom: 25px;
  }
  
  .label-input {
    padding: 10px;
  }

  .label-margin-small {
    margin-bottom: 20px;
  }

  form input[type=text],
  form input[type=email] {
    width: 85%;
    height: 16%;
    
    font-size: 1.6rem;
  }

  .form-send .button button {
    margin-top: 1.6rem;
  }
  
  .geometric-shapes6 {
    width: 9%;

    position: absolute;
    left: 88.5%;
    right: -9.51%;
    top: 60%;
  }
}

@media (max-width: 1024px) {
  /* ==== NEWSLETTER =======================*/
  .geometric-shapes4 {
    width: 22%;
  }
  
  .geometric-shapes5 {
    width: 17%;

    position: absolute;
    left: 51%;
    top: 5%;
  }
  
  .image2 {
    width: 35%; 
    position: absolute;
    top: 10.5%;
  }
  
  .newsletter h2 {
    width: 40%;
    
    position: absolute;
    left: 48.5%;
    bottom: 59%;

    font-size: 2.6rem;
  }
  
  form {
    width: 40%;
  
    position: absolute;
    left: 51%;
    bottom: 33%;
  }
  
  /* form .fa-user {
    position: relative;
    background-color: #ecf0f1;
  }
  
  form .fa-user:before {
    content: "\f007";
    width: 50%;
    height: 50%;
  
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }
  
  form .fa-envelope{
    position: relative;
    background-color: #ecf0f1;
  }
  
  form .fa-envelope:before {
    content: "\f0e0";
    width: 50%;
    height: 50%;
  
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  } */

  .geometric-shapes6 {
    width: 9.5%;

    position: absolute;
    left: 88.5%;
    top: 55.5%;
  }
}

@media (max-width: 768px) {
  
}
