.panelFis {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 100%;
  border-bottom-color: #FFF;

  position: relative;
}

.Dates {
  margin: 6rem auto 0 3rem;
  display: flex;
  gap: 7px;
}

.Dates .Date,
.Dates .dateAndTime {
  width: 180px;
  height: 53px;
  background: #FFF;
  color: #2A2850;
  font-size: 25px;
  font-weight: 700;
  line-height: 44px;

  border-radius: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dates .Utc3 {
  width: 50px;
  height: 21px;
  background: #FF4063;
  color: #FFF;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  margin-left: -67px;
  margin-top: -10px;
}

.Speakers {
  margin: 3rem 0 15px 3rem;
}

.Speakers p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFF;
}

.Speakers .groupPanel {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 4.5rem;
}

.Speakers .groupPanel .imgFis,
.Speakers .groupPanel .imgSm,
.Speakers .groupPanel .imgLygga,
.Speakers .groupPanel .imgMeets {
  width: 130px;
  margin: 15px 0 50px 0;
}

.Speakers .panelRectangle {
  width: 85%;
  margin: .5rem 2rem 1rem .1rem;
}

.Speakers .avatarGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-right: 6rem;
  position: relative;
  top: -0.8rem;
  left: -68rem;
}

.Speakers .avatarGroup::-webkit-scrollbar {
  display: none;
}

.Speakers .Moderator {
  width: 120px;
  height: 26.39px;
  background: #FF4063;
  color: #FFF;

  font-size: 12px;
  font-weight: 600;

  border-radius: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18rem 0 2rem 53rem;

  position: absolute;
}

/* ====== @MEDIA QUERY ========= */

/* XX-Small devices (portrait phones, less than 392px) */
@media (max-width: 391px) {
  html {
    font-size: .87rem;
  }
  
  .Dates {
    margin-left: 1rem;
  }  

  .Dates .Date,
  .Dates .dateAndTime {
    width: 140px;
    height: 36px;
    font-size: 19px;
  }
  
  .Dates .Utc3 {
    width: 35px;
    height: 18px;
    font-size: 9px;
    margin-top: -13px;
  }
  
  .Speakers {
    margin-left: 30px;
  } 

  .Speakers p {
    width: 300px;
    font-size: 1rem;
    margin-bottom: 30px;
  } 

  .Speakers .groupPanel {
    margin: 0 0 3.5rem -20px;
  }

  .Speakers .groupPanel .imgFis,
  .Speakers .groupPanel .imgSm,
  .Speakers .groupPanel .imgLygga,
  .Speakers .groupPanel .imgMeets {
    width: 80px;
  }

  .Speakers .panelRectangle {
    display: none;
  }
  
  .Speakers .avatarGroup {
    gap: 1rem;
    display: none;
    width: 73%;
    height: 17rem;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 11rem;

    position: absolute;
    top: 13rem;
    left: 8rem;
  }
  
  .Speakers .Moderator {
    width: 80px;
    height: 26.39px;
    font-size: 12px;
    margin: 18rem 0 2rem 44rem;

    position: absolute;
  }  
}

/* X-Small devices (portrait phones, less than 550px) */
@media (min-width: 392px) and (max-width: 549.98px)  {
  html {
    font-size: .87rem;
  }
  
  .Dates {
    margin-left: 1rem;
  }  

  .Dates .Date,
  .Dates .dateAndTime {
    width: 140px;
    height: 36px;
    font-size: 19px;
  }
  
  .Dates .Utc3 {
    width: 35px;
    height: 18px;
    font-size: 9px;
    margin-top: -13px;
  }
  
  .Speakers {
    margin-left: 30px;
  } 

  .Speakers p {
    width: 300px;
    font-size: 1rem;
    margin-bottom: 30px;
  } 

  .Speakers .groupPanel {
    margin: 0 0 3.5rem -20px;
  }

  .Speakers .groupPanel .imgFis,
  .Speakers .groupPanel .imgSm,
  .Speakers .groupPanel .imgLygga,
  .Speakers .groupPanel .imgMeets {
    width: 80px;
  }

  .Speakers .panelRectangle {
    display: none;
  }
  
  .Speakers .avatarGroup {
    gap: 1rem;
    display: none;
    width: 75%;
    height: 17rem;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 11rem;

    position: absolute;
    top: 13rem;
    left: 8rem;
  }
  
  .Speakers .Moderator {
    width: 80px;
    height: 26.39px;
    font-size: 12px;
    margin: 18rem 0 2rem 44rem;

    position: absolute;
  }  
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 550px) and (max-width: 575.98px) {
  html {
    font-size: .87rem;
  }
  
  .Dates {
    margin-left: 10px;
  }  

  .Dates .Date,
  .Dates .dateAndTime {
    width: 140px;
    height: 36px;
    font-size: 19px;
  }
  
  .Dates .Utc3 {
    width: 35px;
    height: 18px;
    font-size: 9px;
    margin-top: -13px;
  }
  
  .Speakers {
    margin-left: 10px;
  } 

  .Speakers p {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 30px;
  } 

  .Speakers .groupPanel {
    margin-bottom: 3.5rem;
  }

  .Speakers .groupPanel .imgFis,
  .Speakers .groupPanel .imgSm,
  .Speakers .groupPanel .imgLygga,
  .Speakers .groupPanel .imgMeets {
    width: 100px;
  }
  
  .Speakers .panelRectangle {
    display: none;
  }
  
  .Speakers .avatarGroup {
    gap: 1rem;
    display: none;
    width: 80%;
    height: 17rem;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 20rem;

    position: absolute;
    top: 13rem;
    left: 8rem;
  }
  
  .Speakers .Moderator {
    width: 80px;
    height: 26.39px;
    font-size: 12px;
    margin: 17.5rem 0 2rem 41rem;

    position: absolute;
  }  
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {  
  html {
    font-size: .87rem;
  }
  
  .Dates {
    margin-left: 15px;
  }  

  .Dates .Date,
  .Dates .dateAndTime {
    width: 140px;
    height: 36px;
    font-size: 20px;
  }
  
  .Dates .Utc3 {
    width: 35px;
    height: 18px;
    font-size: 9px;
    margin-top: -13px;
  }
  
  .Speakers {
    margin-left: 15px;
  } 

  .Speakers p {
    font-size: 1rem;
  } 

  .Speakers .groupPanel .imgFis,
  .Speakers .groupPanel .imgSm,
  .Speakers .groupPanel .imgLygga,
  .Speakers .groupPanel .imgMeets {
    width: 80px;
  }

  .Speakers .groupPanel {
    margin-top: 4rem;
  }
  
  .Speakers .panelRectangle {
    display: none;
  }
  
  .Speakers .avatarGroup {
    gap: 1rem;
    display: none;
    width: 80%;
    height: 19rem;
    overflow-x: scroll;
    overflow-y: hidden;

    position: absolute;
    top: 13rem;
    left: 8rem;
  }
  
  .Speakers .Moderator {
    width: 80px;
    height: 26.39px;
    font-size: 12px;
    margin: 18.5rem 0 2rem 45rem;

    position: absolute;
  }  
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: .87rem;
  }
  
  .Dates {
    margin-left: 20px;
  }  

  .Dates .Date,
  .Dates .dateAndTime {
    width: 150px;
    height: 39px;
    font-size: 21px;
  }
  
  .Dates .Utc3 {
    width: 40px;
    height: 19px;
    font-size: 10px;
    margin-top: -13px;
  }
  
  .Speakers {
    margin-left: 20px;
  } 

  .Speakers p {
    font-size: 1.1rem;
  } 

  .Speakers .groupPanel {
    margin-bottom: 3.5rem;
  }

  .Speakers .groupPanel .imgFis,
  .Speakers .groupPanel .imgSm,
  .Speakers .groupPanel .imgLygga,
  .Speakers .groupPanel .imgMeets {
    width: 90px;
  }

  .Speakers .panelRectangle {
    width: 82%;
    margin: .5rem 2rem 1rem .1rem;
  }
  
  .Speakers .avatarGroup {
    gap: 1rem;
    margin-right: 8rem;
    position: relative;
    top: -2rem;
    left: -40rem;
  }
  
  .Speakers .Moderator {
    width: 80px;
    height: 26.39px;
    font-size: 12px;
    margin: 16rem 0 2rem 33rem;

    position: absolute;
  }  
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: .87rem;
  }
  
  .Dates {
    margin-left: 40px;
  }  

  .Dates .Date,
  .Dates .dateAndTime {
    width: 150px;
    height: 39px;
    font-size: 21px;
  }
  
  .Dates .Utc3 {
    width: 40px;
    height: 19px;
    font-size: 10px;
    margin-top: -13px;
  }
  
  .Speakers {
    margin-left: 40px;
  } 

  .Speakers .groupPanel .imgFis,
  .Speakers .groupPanel .imgSm,
  .Speakers .groupPanel .imgLygga,
  .Speakers .groupPanel .imgMeets {
    width: 100px;
  }
  
  .Speakers .panelRectangle {
    width: 85%;
    margin: .5rem 2rem 1rem .1rem;
  }
  
  .Speakers .avatarGroup {
    gap: 2rem;
    display: flex;
    margin-right: 11rem;
    position: relative;
    top: 1rem;
    left: -52rem;
  }
  
  .Speakers .Moderator {
    width: 100px;
    height: 26.39px;
    font-size: 12px;
    margin: 17rem 0 2rem 45rem;

    position: absolute;
  }  
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
  html {
    font-size: .87rem;
  }

  .Dates {
    margin-left: 50px;
  }
  
  .Dates .Date,
  .Dates .dateAndTime {
    width: 160px;
    height: 43px;
    font-size: 23px;
  }
  
  .Dates .Utc3 {
    width: 45px;
    height: 19px;
    font-size: 11px;
    margin-left: -69px;
    margin-top: -12px;
  }

  .Speakers {
    margin-left: 50px;
  }
  
  .Speakers .groupPanel {
    margin-bottom: 3.5rem;
  }

  .Speakers .groupPanel .imgFis,
  .Speakers .groupPanel .imgSm,
  .Speakers .groupPanel .imgLygga,
  .Speakers .groupPanel .imgMeets {
    width: 110px;
  }

  .Speakers .panelRectangle {
    width: 85%;
    margin: .5rem 2rem 1rem .1rem;
  }
  
  .Speakers .avatarGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
    
    position: relative;
    top: -0.5rem;
    left: -66rem;
  }
  
  .Speakers .Moderator {
    width: 120px;
    height: 26.39px;
    font-size: 12px;
    margin: 17rem 0 2rem 53rem;

    position: absolute;
  }  
}