.panelFis {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 100%;
  border-bottom-color: #FFF;
}

.Dates {
  margin: 6rem auto 0 3rem;
  display: flex;
  gap: 7px;
}

.Dates .Date,
.Dates .dateAndTime {
  width: 180px;
  height: 53px;
  background: #FFF;
  color: #2A2850;
  font-size: 25px;
  font-weight: 700;
  line-height: 44px;

  border-radius: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dates .Utc3 {
  width: 50px;
  height: 21px;
  background: #FF4063;
  color: #FFF;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  margin-left: -67px;
  margin-top: -10px;
}

.Speakers {
  margin: 3rem 0 15px 3rem;
}

.Speakers p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFF;
}

.Speakers .groupPanel {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 45px;
}

.Speakers .groupPanel .imgFis,
.Speakers .groupPanel .imgSm,
.Speakers .groupPanel .imgLygga,
.Speakers .groupPanel .imgMeets {
  width: 130px;
  margin: 15px 0 50px 0;
}

.Speakers .panelRectangle {
  display: block;
  Width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  background: rgba(103, 119, 196, 0.5);
  border-radius: 147px;

  margin: .5rem 2rem 1rem .1rem;
  padding: 10px 30px;
}

.Speakers .panelRectangle .avatarGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.Speakers .speakerGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin-top: -22px;
}

.Speakers .speakerGroup .speakerName {
  width: 100%;
  height: 2.6rem;
  background: #6645F4;
  color: #FFF;
  font-size: .85rem;
  font-weight: 700;

  border-radius: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: .7rem;
}

.Speakers .Moderator {
  width: 100px;
  height: 26.39px;
  background: #FF4063;
  color: #FFF;

  font-size: 12px;
  font-weight: 600;

  border-radius: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -4rem 0 2rem 65rem;
}


/* ====== @MEDIA QUERY ========= */

/* XX-Small devices (portrait phones, less than 424px) */
@media (max-width: 424px) {
  html {
    font-size: .87rem;
  }
  
  .Dates {
    margin-left: 35px;
  }  

  .Dates .Date,
  .Dates .dateAndTime {
    width: 140px;
    height: 36px;
    font-size: 19px;
  }
  
  .Dates .Utc3 {
    width: 35px;
    height: 18px;
    font-size: 9px;
    margin-top: -13px;
  }
  
  .Speakers {
    margin-left: 30px;
  } 

  .Speakers p {
    width: 335px;
    font-size: 1rem;
    margin-bottom: 30px;
  } 

  .Speakers .groupPanel {
    margin-left: -20px;
  }

  .Speakers .groupPanel .imgFis,
  .Speakers .groupPanel .imgSm,
  .Speakers .groupPanel .imgLygga,
  .Speakers .groupPanel .imgMeets {
    width: 80px;
  }

  .Speakers .panelRectangle {
    Height: 168.07px;
    padding: 9px 10px;
    margin: -1rem 1rem 1rem .1rem;
    border-radius: 3rem;
  }

  .Speakers .speakerGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .01rem;
    margin-top: -20px;
  }
  
  .Speakers .panelRectangle .speakerGroup .speakerName {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    padding-inline: 1rem;
  }

  .Speakers .Moderator {
    width: 60px;
    height: 23.39px;
    font-size: 10px;
    margin: -60px 35px 50px auto;
  }  
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 425px) and (max-width: 575.98px) {
  html {
    font-size: .87rem;
  }
  
  .Dates {
    margin-left: 10px;
  }  

  .Dates .Date,
  .Dates .dateAndTime {
    width: 140px;
    height: 36px;
    font-size: 19px;
  }
  
  .Dates .Utc3 {
    width: 35px;
    height: 18px;
    font-size: 9px;
    margin-top: -13px;
  }
  
  .Speakers {
    margin-left: 10px;
  } 

  .Speakers p {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 30px;
  } 

  .Speakers .groupPanel .imgFis,
  .Speakers .groupPanel .imgSm,
  .Speakers .groupPanel .imgLygga,
  .Speakers .groupPanel .imgMeets {
    width: 100px;
  }
  
  .Speakers .panelRectangle {
    Height: 168.07px;
    padding: 9px 10px;
    margin: -1rem 1rem 1rem .1rem;
    border-radius: 3rem;
  }

  .Speakers .speakerGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .01rem;
    margin-top: -20px;
  }
  
  .Speakers .panelRectangle .speakerGroup .speakerName {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    padding-inline: 1rem;
  }

  .Speakers .Moderator {
    width: 70px;
    height: 23.39px;
    font-size: 11px;
    margin: -60px 40px 50px auto;
  }  
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {  
  html {
    font-size: .87rem;
  }
  
  .Dates {
    margin-left: 15px;
  }  

  .Dates .Date,
  .Dates .dateAndTime {
    width: 140px;
    height: 36px;
    font-size: 20px;
  }
  
  .Dates .Utc3 {
    width: 35px;
    height: 18px;
    font-size: 9px;
    margin-top: -13px;
  }
  
  .Speakers {
    margin-left: 15px;
  } 

  .Speakers p {
    font-size: 1rem;
  } 

  .Speakers .groupPanel .imgFis,
  .Speakers .groupPanel .imgSm,
  .Speakers .groupPanel .imgLygga,
  .Speakers .groupPanel .imgMeets {
    width: 80px;
  }
  
  .Speakers .panelRectangle {
    display: block;
    Width: 100%;
    overflow-x: auto;
  
    Height: 168.07px;
    background: rgba(103, 119, 196, 0.5);
    border-radius: 147px;
  
    margin: .5rem 1rem 1rem .1rem;
    padding: 10px 30px;
    border-radius: 3rem;
  }
  
  .Speakers .panelRectangle .avatarGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }

  .Speakers .speakerGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .01rem;
    margin-top: -20px;
  }
  
  .Speakers .panelRectangle .speakerGroup .speakerName {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding-inline: 1rem;
  }

  .Speakers .Moderator {
    width: 80px;
    height: 23.39px;
    margin: -62px 40px 50px auto;
  }  
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: .87rem;
  }
  
  .Dates {
    margin-left: 20px;
  }  

  .Dates .Date,
  .Dates .dateAndTime {
    width: 150px;
    height: 39px;
    font-size: 21px;
  }
  
  .Dates .Utc3 {
    width: 40px;
    height: 19px;
    font-size: 10px;
    margin-top: -13px;
  }
  
  .Speakers {
    margin-left: 20px;
  } 

  .Speakers p {
    font-size: 1.1rem;
  } 

  .Speakers .groupPanel .imgFis,
  .Speakers .groupPanel .imgSm,
  .Speakers .groupPanel .imgLygga,
  .Speakers .groupPanel .imgMeets {
    width: 90px;
  }

  .Speakers .panelRectangle {
    Height: 170.07px;
    padding: 9px 10px;
    margin-right: 2rem;
    border-radius: 3rem;
  }

  .Speakers .speakerGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .01rem;
    margin-top: -20px;
  }
  
  .Speakers .panelRectangle .speakerGroup .speakerName {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding-inline: 2rem;
  }

  .Speakers .Moderator {
    width: 90px;
    height: 23.39px;
    margin: -68px 88px 50px auto;
  }  
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: .87rem;
  }
  
  .Dates {
    margin-left: 40px;
  }  

  .Dates .Date,
  .Dates .dateAndTime {
    width: 150px;
    height: 39px;
    font-size: 21px;
  }
  
  .Dates .Utc3 {
    width: 40px;
    height: 19px;
    font-size: 10px;
    margin-top: -13px;
  }
  
  .Speakers {
    margin-left: 40px;
  } 

  .Speakers .groupPanel .imgFis,
  .Speakers .groupPanel .imgSm,
  .Speakers .groupPanel .imgLygga,
  .Speakers .groupPanel .imgMeets {
    width: 100px;
  }
  
  .Speakers .panelRectangle {
    display: block;
    Width: 100%;
    overflow-x: auto;
  
    background: rgba(103, 119, 196, 0.5);
    border-radius: 147px;
  
    margin: .5rem 2rem 1rem .1rem;
    padding: 10px 30px;
  }
  
  .Speakers .panelRectangle .avatarGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }
  
  .Speakers .speakerGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin-top: -22px;
  }
  
  .Speakers .speakerGroup .speakerName {
    width: 12rem;
    height: 2.7rem;
    background: #6645F4;
    color: #FFF;
    font-size: .85rem;
    font-weight: 700;
  
    border-radius: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 1rem;
  }
  
  .Speakers .Moderator {
    width: 90px;
    height: 23.39px;
    background: #FF4063;
    color: #FFF;
  
    font-size: 12px;
    font-weight: 600;
  
    border-radius: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -68px 76px 50px auto;
  }  
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
  html {
    font-size: .87rem;
  }

  .Dates {
    margin-left: 50px;
  }
  
  .Dates .Date,
  .Dates .dateAndTime {
    width: 160px;
    height: 43px;
    font-size: 23px;
  }
  
  .Dates .Utc3 {
    width: 45px;
    height: 19px;
    font-size: 11px;
    margin-left: -69px;
    margin-top: -12px;
  }

  .Speakers {
    margin-left: 50px;
  }
  
  .Speakers .groupPanel .imgFis,
  .Speakers .groupPanel .imgSm,
  .Speakers .groupPanel .imgLygga,
  .Speakers .groupPanel .imgMeets {
    width: 110px;
  }

  .Speakers .panelRectangle {
    display: block;
    Width: 100%;
    overflow-x: auto;
  
    background: rgba(103, 119, 196, 0.5);
    border-radius: 147px;
  
    margin: .5rem 2rem 1rem .1rem;
    padding: 10px 30px;
  }
  
  .Speakers .panelRectangle .avatarGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }
  
  .Speakers .speakerGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin-top: -22px;
  }
  
  .Speakers .speakerGroup .speakerName {
    width: 12rem;
    height: 2.6rem;
    background: #6645F4;
    color: #FFF;
    font-size: .85rem;
    font-weight: 700;
  
    border-radius: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .Speakers .Moderator {
    width: 100px;
    height: 26.39px;
    background: #FF4063;
    color: #FFF;
  
    font-size: 12px;
    font-weight: 600;
  
    border-radius: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -69px 86px 50px auto;
  }  
}
