.saveTheDate {
    height: 850px;
    overflow: hidden;
    position: relative;
}

.saveTheDate img.date {
    left: 495px;
    position: absolute;
    top: 480px;
}

.saveTheDate img.logo {
    left: 50px;
    height: 72px;
    position: absolute;
    top: 50px;
}

.saveTheDate img.main {
    height: 544px;
    left: 20px;
    position: absolute;
    top: 235px;
}

.saveTheDate img.shape1 {
    height: 230px;
    left: 0;
    position: absolute;
    top: 0;
}

.saveTheDate img.shape2 {
    left: 0;
    position: absolute;
    top: 450px;
}

.saveTheDate img.shape3 {
    left: 414px;
    position: absolute;
    top: 746px;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .saveTheDate img.main {
        height: 500px;
        left: 0;
    }

    .saveTheDate img.date {
        left: 405px;
        top: 440px;
    }

    .saveTheDate img.shape3 {
        left: 294px;
        top: 726px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .saveTheDate img.main {
        height: 450px;
    }

    .saveTheDate img.date {
        left: 365px;
        top: 412px;
    }

    .saveTheDate img.shape3 {
        left: 234px;
    }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .saveTheDate img.main {
        height: 520px;
    }

    .saveTheDate img.date {
        left: 450px;
        top: 412px;
    }

    .saveTheDate img.shape3 {
        left: 322px;
    }
}
