.avatarLeaders {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    z-index: 1;
    margin-left: 100px; 
    margin-top:60px;
    margin-bottom: 120px; 
    left: 30px;
    justify-content: space-around;
    align-items: left;
  }