.Leaders {
  display: flex;
  flex-direction: column;
}

.leaderGroup {
  display: flex;
  height: auto;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: -3rem;
}

a {
  margin: 0 auto;
}

.showLeaders {
  width: 20rem;
  height: auto;
  height: 3.5rem;
  border: 0;
  border-radius: 8rem;
  background: #19FD84;
  color: #2A2850;

  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 3rem;
  transition: .1s;
}

.showLeaders:hover {
  filter: brightness(1.2);
}


/* ====== @MEDIA QUERY ========= */

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .leaderGroup {
    height: 68rem;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 6rem;
    gap: 10rem;
  }  

  .showLeaders {
    width: 17rem;
    height: 3rem;
    font-size: 1.3rem;
  }  
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .leaderGroup {
    height: 68rem;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 6rem;
    gap: 8rem;
  }  
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .leaderGroup {
    margin-right: -2rem;
  }
}
