
.headerFis{
    width: 160px;
    height: 40px;
    margin: 20px;
}
.nav-link{
    color: white;
}
/* .navbar-collapse{
    padding: 1rem;
    
} */
.teste{
    margin-left: 50px;
}

.collapse{
    display: flex;
    justify-content: flex-end;
}


