.headerFis{
  margin-left: -80px;
  height: 60px;
  width: 200px;
}
.flagsMenu{
  margin-left: 90px;
}
nav{
  display: flex;
  height: 125px;
  width: 100%;
  background-color: #3F3D73;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li{
  margin: 0 5px;
}
.options{
  padding: 0;
  margin-right: -35px;
  margin-bottom: -10px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 1px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  margin-left: -10px;
}
nav ul li a.active,
nav ul li a:hover{
  color: #cbc9ed;
}

nav .menu-btn i{
  color: #fff;
  cursor: pointer;
  display: none;
  margin-bottom: -10px;
}
@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        /* background-color: #003840; */
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
    }   
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 360px) and (max-width: 576px) {
  .headerFis {
    width: 120px;
    height: 45px;
    margin: 2px;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .headerFis {
    width: 100px;
    height: 40px;
    margin: 10px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .saveTheDate img.main {
    height: 450px;
  }

  .saveTheDate img.date {
    left: 365px;
    top: 412px;
  }

  .saveTheDate img.shape3 {
    left: 234px;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .saveTheDate img.main {
    height: 520px;
  }

  .saveTheDate img.date {
    left: 450px;
    top: 412px;
  }

  .saveTheDate img.shape3 {
    left: 322px;
  }
}
