.main-footer {
  background-color: black;
  color: white;
  padding-top: 25rem;
  position: relative;
  bottom: 0;
  width: 1335px;
  position: fixed;
  text-align: left;
  display: flex;
  height: 491px;
}
.contact {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 80px;
  color: white;
  top: 40px;
}
.sociais {
  position: absolute;
  left: 700px;
  top: 270px;
  text-align: center;
  display: flex;
  justify-content: space-betwee;
}
.networks {
  position: absolute;
  width: 203px;
  height: 30px;
  left: 1075px;
  top: 225px;
  font-style: normal;
  color: white;
}
.social {
  text-align: center;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background 0.2linear;
  background: white;
  margin: 10px;
}
.sociais .social a {
  color: #000;
  font-size: 1.5rem;
  transition: background 0.3 linear;
}
.text-fis {
  position: absolute;
  width: 355.71px;
  height: 20px;
  left: 990px;
  top: 433px;
  justify-content: space-between;
}
.text-fis2 {
  position: absolute;
  width: 355.71px;
  height: 20px;
  left: 1110px;
  top: 430px;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .main-footer {
    max-width: 100%;
    width: 100%;
    
  }
}

@media (max-width: 1024px) {
  .main-footer {
   
  }
}

@media (max-width: 768px) {
  .main-footer {
    
  }
}

@media (max-width: 630px) {
 
}

@media (max-width: 540px) {
}
