.main-footer {
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
  text-align: left;
  display: flex;
  height: 491px;
}
.contact {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 80px;
  color: white;
  top: 40px;
}
.networks {
  position: absolute;
  width: 203px;
  height: 30px;
  left: 1075px;
  top: 270px;
  font-style: normal;
  color: white;
}
.sociais {
  position: absolute;
  left: 700px;
  top: 300px;
  text-align: center;
  display: flex;
  justify-content: space-betwee;
}
.social {
  text-align: center;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background 0.2linear;
  background: white;
  margin: 10px;
}
.sociais .social a {
  color: #000;
  font-size: 1.5rem;
  transition: background 0.3 linear;
}
.sociais .social a:hover {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.541);
}

.text-fis {
  position: absolute;
  width: 355.71px;
  height: 20px;
  left: 990px;
  top: 433px;
  justify-content: space-between;
}
.text-fis2 {
  position: absolute;
  width: 355.71px;
  height: 20px;
  left: 1110px;
  top: 430px;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .sociais {
    left: 560px;
  }
  .text-fis {
    left: 810px;
  }
  .text-fis2 {
    left: 930px;
  }
  .networks {
    left: 930px;
  }
}

@media (max-width: 1024px) {
  .sociais {
    left: 70px;
  }
  .text-fis {
    left: 78px;
  }
  .text-fis2 {
    left: 199px;
  }
  .networks {
    left: 80px;
  }
}

@media (max-width: 768px) {
  .contact {
    left: 30px;
  }
  .sociais {
    left: 20px;
  }
  .text-fis {
    left: 40px;
  }
  .text-fis2 {
    left: 160px;
  }
  .networks {
    left: 30px;
  }
}

@media (max-width: 630px) {
  .sociais {
    left: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  }
  .text-fis {
    left: 30px;
  }
  .text-fis2 {
    left: 150px;
  }
  .networks {
    left: 30px;
  }

  .contact {
    left: 30px;
  }
}

@media (max-width: 540px) {
  .sociais {
    left: 20px;
  }
  .networks {
    left: 30px;
  }
  .contact {
    left: 30px;
  }
  .text-fis {
    left: 30px;
  }
  .text-fis2 {
    left: 150px;
  }
}

@media (max-width: 425px) {
  .sociais {
    left: 10px;
    flex-wrap: wrap;
  }
  .networks {
    left: 20px;
  }
  .contact {
    left: 20px;
  }
  .text-fis {
    left: 25px;
  }
  .text-fis2 {
    left: 145px;
  }
}
@media (max-width: 375px) {
  .sociais {
    left: 10px;
    flex-wrap: wrap;
  }
  .networks {
    left: 20px;
  }
  .contact {
    left: 20px;
  }
  .text-fis {
    left: 20px;
  }
  .text-fis2 {
    left: 140px;
  }
}
