.Testimonials {
  background: linear-gradient(
    180deg, rgba(126, 112, 186, 0) 
    0%, #5837EA 93.23%
  );

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
  height: 100%;
}

.Testimonials header {
  width: 511.58px;
  height: 106.73px;
  background: #6645F4;
  border-radius: 379px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 2.5rem 0 7.5rem 0;
}

.Testimonials header h1 {
  font-size: 2.7rem;
  font-weight: 700;
  color: #FFF;
  padding: 0 17px 0 93px;
}

.Testimonials header img {
  width: 21%;
}

.testimonialsImages .ManBackground {
  width: 19rem;
  height: 41rem;
  margin-left: -38rem;
}

.testimonialsImages .Man {
  width: 19rem;
  height: 41.2rem;
  margin-left: -19rem;
}

.testimonialsImages .circleTestimonial {
  width: 19rem;
  height: 19rem;

  position: absolute;
  top: 59.5rem;
  left: 3.5rem;
}

.DepositionsGroup {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  margin: -51rem 0 0 20rem;
}

.DepositionsGroup .Depositions .depositionsImg {
  width: 50rem;
  height: 18rem;
  margin-top: 85px;
}

.DepositionsGroup .Depositions:nth-child(3) {
  margin-bottom: 1rem;
}

.Depositions .citeDepositions {
  width: 30rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #FFF;
  margin: -17.5rem 0 1rem 10rem;
}

.Depositions .citeImg {
  margin: -5rem 0 0 9rem;
}

.Depositions .DepositionsName {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.7;
  color: #5DCDE3;
  margin: 0 0 0 15rem;
}

.Testimonials .registrationButton .buttonLink {
  width: 379px;
  height: 62.06px;
  border-radius: 8rem;
  border: 0;
  background: #FF4063;
  color: #FFF;

  font-size: 1.7rem;
  font-weight: 500;
  line-height: 3.535rem;
  text-align: center;
  margin-top: -1rem;
  transition: .1s;
}

.Testimonials .registrationButton .buttonLink:hover {
  filter: brightness(1.2);
}

.Testimonials .registrationButton .buttonLink {
  margin: 14rem 0 4rem;
}

/* ====== @MEDIA QUERY ========= */

/* XX-Small devices (portrait phones, less than 392px) */

@media (max-width: 390px) {
  .Testimonials header {
    width: 351.58px;
    height: 70.73px;
  }
  
  .Testimonials header h1 {
    font-size: 2.1rem;
    padding-left: 58px;
  }
  
  .Testimonials header img {
    width: 20%;
  }
  
  .testimonialsImages .ManBackground {
    width: 8rem;
    height: 15rem;
    margin: -4rem 0 0 -12.5rem;
  }
  
  .testimonialsImages .Man {
    width: 8.2rem;
    height: 16.2rem;
    margin: -2rem 0 0 -8.1rem;
  }
  
  .testimonialsImages .circleTestimonial {
    width: 8rem;
    height: 8rem;
  
    position: absolute;
    top: 30rem;
    left: 1rem;
  }
  
  .DepositionsGroup {
    gap: 1.5rem;
    margin: -17rem 0 0 9rem;

    height: 28rem;
    flex-direction: row;
    width: 62%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .DepositionsGroup::-webkit-scrollbar {
    display: none;
  }

  .DepositionsGroup .Depositions .depositionsImg {
    width: 25rem;
    height: 26rem;
  }

  .Depositions .citeDepositions {
    width: 18rem;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: -24.3rem 4.5rem 1rem 3.5rem;
  }
  
  .Depositions .citeImg {
    margin: 0rem 0 0 3.5rem;
    width: 4rem;
  }
  
  .Depositions .DepositionsName {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 0 0 3.5rem;
  }

  .Testimonials .registrationButton .buttonLink {
    width: 240px;
    height: 40.06px;
    font-size: 1.1rem;
    line-height: normal;
    /* margin: 11 0 1rem; */
    margin-top: 20px;
  }
}
@media (max-width: 375px) and (max-width: 391.98px) {
  .Testimonials header {
    width: 351.58px;
    height: 70.73px;
  }
  
  .Testimonials header h1 {
    font-size: 2.1rem;
    padding-left: 58px;
  }
  
  .Testimonials header img {
    width: 20%;
  }
  
  .testimonialsImages .ManBackground {
    width: 8rem;
    height: 15rem;
    margin: -4rem 0 0 -12.5rem;
  }
  
  .testimonialsImages .Man {
    width: 8.2rem;
    height: 16.2rem;
    margin: -2rem 0 0 -8.1rem;
  }
  
  .testimonialsImages .circleTestimonial {
    width: 8rem;
    height: 8rem;
  
    position: absolute;
    top: 30rem;
    left: 1rem;
  }
  
  .DepositionsGroup {
    gap: 1.5rem;
    margin: -17rem 0 0 9rem;

    height: 28rem;
    flex-direction: row;
    width: 62%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .DepositionsGroup::-webkit-scrollbar {
    display: none;
  }

  .DepositionsGroup .Depositions .depositionsImg {
    width: 25rem;
    height: 26rem;
  }

  .Depositions .citeDepositions {
    width: 18rem;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: -24.3rem 4.5rem 1rem 3.5rem;
  }
  
  .Depositions .citeImg {
    margin: 0rem 0 0 3.5rem;
    width: 4rem;
  }
  
  .Depositions .DepositionsName {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 0 0 3.5rem;
  }

  .Testimonials .registrationButton .buttonLink {
    width: 240px;
    height: 40.06px;
    font-size: 1.1rem;
    line-height: normal;
    /* margin: 11 0 1rem; */
    margin-top: 20px;
  }
}
/* X-Small devices (portrait phones, less than 550px) */
@media (min-width: 392px) and (max-width: 549.98px) {
  .Testimonials header {
    width: 351.58px;
    height: 70.73px;
  }
  
  .Testimonials header h1 {
    font-size: 2.1rem;
    padding-left: 58px;
  }
  
  .Testimonials header img {
    width: 20%;
  }
  
  .testimonialsImages .ManBackground {
    width: 8rem;
    height: 15rem;
    margin: -4rem 0 0 -13.5rem;
  }
  
  .testimonialsImages .Man {
    width: 8.2rem;
    height: 16.2rem;
    margin: -2rem 0 0 -8.1rem;
  }
  
  .testimonialsImages .circleTestimonial {
    width: 8rem;
    height: 8rem;
  
    position: absolute;
    top: 30rem;
    left: 1.5rem;
  }
  
  .DepositionsGroup {
    gap: 1.5rem;
    margin: -17rem 0 0 9rem;

    height: 28rem;
    flex-direction: row;
    width: 62%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .DepositionsGroup::-webkit-scrollbar {
    display: none;
  } 

  .DepositionsGroup .Depositions .depositionsImg {
    width: 25rem;
    height: 26rem;
  }

  .Depositions .citeDepositions {
    width: 17rem;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: -24.3rem 4.5rem 1rem 4.5rem;
  }
  
  .Depositions .citeImg {
    margin: -4rem 0 0 3.5rem;
    width: 4rem;
  }
  
  .Depositions .DepositionsName {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 0 0 3.5rem;
  }

  .Testimonials .registrationButton .buttonLink {
    width: 240px;
    height: 40.06px;
    font-size: 1.1rem;
    line-height: normal;
    /* margin: 11 0 1rem; */
    margin-top: 20px;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (min-width: 550px) and (max-width: 767.98px) {  
  .Testimonials header {
    width: 351.58px;
    height: 70.73px;
  }
  
  .Testimonials header h1 {
    font-size: 2.1rem;
    padding-left: 58px;
  }
  
  .Testimonials header img {
    width: 20%;
  }

  .testimonialsImages .ManBackground {
    width: 8rem;
    height: 15rem;
    margin: -5rem 0 0 -18rem;
  }
  
  .testimonialsImages .Man {
    width: 8.2rem;
    height: 16.2rem;
    margin: -1rem 0 0 -8.1rem;
  }
  
  .testimonialsImages .circleTestimonial {
    width: 8rem;
    height: 8rem;
  
    position: absolute;
    top: 31rem;
    left: 1.5rem;
  }
  
  .DepositionsGroup {
    gap: 1.5rem;
    margin: -18.5rem 0 0 10rem;

    height: 28rem;
    flex-direction: row;
    width: 70%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .DepositionsGroup::-webkit-scrollbar {
    display: none;
  }

  .DepositionsGroup .Depositions .depositionsImg {
    width: 27rem;
    height: 27rem;
  }

  .Depositions .citeDepositions {
    width: 19rem;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: -25.8rem 4.5rem 1rem 4.5rem;
  }
  
  .Depositions .citeImg {
    margin: 0 0 0 3.5rem;
    width: 4rem;
  }
  
  .Depositions .DepositionsName {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 0 0 5.5rem;
  }

  .Testimonials .registrationButton .buttonLink {
    width: 260px;
    height: 48.06px;
    font-size: 1.2rem;
    line-height: normal;
    margin: 2rem 0 3.5rem;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .Testimonials header {
    width: 391.58px;
    height: 86.73px;
    margin: 1.5rem 0 5.5rem 0;
  }
  
  .Testimonials header h1 {
    font-size: 2.3rem;
    padding-left: 68px;
  }
  
  .Testimonials header img {
    width: 22%;
  }

  .testimonialsImages .ManBackground {
    width: 13rem;
    height: 28rem;
    margin-left: -25rem;
  }
  
  .testimonialsImages .Man {
    width: 13.2rem;
    height: 28.2rem;
    margin-left: -13.1rem;
  }
  
  .testimonialsImages .circleTestimonial {
    width: 13rem;
    height: 13rem;
  
    position: absolute;
    top: 46rem;
    left: 1rem;
  }
  
  .DepositionsGroup {
    gap: 4rem;
    margin: -32.5rem 0 0 14rem;
  }

  .DepositionsGroup .Depositions .depositionsImg {
    width: 35rem;
    height: 13rem;
    margin-top: 85px;
  }
  
  .Depositions .citeDepositions {
    width: 25rem;
    font-size: 1rem;
    line-height: 1.4;
    margin: -11.7rem 0 1rem 5rem;
  }
  
  .Depositions .citeImg {
    margin: -2rem 0 0 4.5rem;
    width: 2rem;
  }
  
  .Depositions .DepositionsName {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 0 0 13rem;
  }

  .Testimonials .registrationButton .buttonLink {
    width: 290px;
    height: 48.06px;
    font-size: 1.3rem;
    line-height: normal;
    margin: 10rem 0 3.5rem;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .Testimonials header {
    width: 391.58px;
    height: 86.73px;
    margin: 1.5rem 0 5.5rem 0;
  }
  
  .Testimonials header h1 {
    font-size: 2.3rem;
    padding-left: 68px;
  }
  
  .Testimonials header img {
    width: 22%;
  }

  .testimonialsImages .ManBackground {
    width: 16rem;
    height: 35rem;
    margin-left: -32rem;
  }
  
  .testimonialsImages .Man {
    width: 16.2rem;
    height: 35.2rem;
    margin-left: -16.1rem;
  }
  
  .testimonialsImages .circleTestimonial {
    width: 16rem;
    height: 16rem;
  
    position: absolute;
    top: 53rem;
    left: 3rem;
  }
  
  .DepositionsGroup {
    gap: 5rem;
    margin: -39rem 0 0 18rem;
  }

  .DepositionsGroup .Depositions .depositionsImg {
    width: 45rem;
    height: 16rem;
    margin-top: 100px;
  }

  .Depositions .citeDepositions {
    margin: -15.5rem 0 1rem 8rem;
    font-size: 1.2rem;
  }
  
  .Depositions .citeImg {
    margin: -2rem 0 0 7.2rem;
    width: 3rem;
  }

  .Testimonials .registrationButton .buttonLink {
    width: 329px;
    height: 52.06px;
    font-size: 1.5rem;
    margin: 12rem 0 4rem;
  }
}
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
  .Testimonials header {
    width: 441.58px;
    height: 96.73px;
  }
  
  .Testimonials header h1 {
    font-size: 2.5rem;
  }
  
  .Testimonials header img {
    width: 22%;
  }

  .testimonialsImages .ManBackground {
    width: 18rem;
  }
  
  .testimonialsImages .Man {
    width: 18.5rem;
    margin-left: -18.3rem;
  }
  
  .testimonialsImages .circleTestimonial {
    width: 17rem;
    height: 17rem;
  
    position: absolute;
    top: 59rem;
    left: 3.5rem;
  }
  
  .DepositionsGroup .Depositions {
    height: rem;
  }
  
  .Depositions .citeImg {
    width: 3rem;
  }

  .Testimonials .registrationButton .buttonLink {
    width: 359px;
    margin: 12rem 0 4rem;
  }
}
