.Testimonials {
  background: linear-gradient(
    180deg, rgba(126, 112, 186, 0) 
    0%, #5837EA 93.23%
  );

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
  height: 1452px;
}

.Testimonials header {
  width: 511.58px;
  height: 106.73px;
  background: #6645F4;
  border-radius: 379px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 4.5rem 0 5.5rem 0;
}

.Testimonials header h1 {
  font-size: 2.7rem;
  font-weight: 700;
  color: #FFF;
  padding: 0 17px 0 93px;
}

.Testimonials header img {
  width: 21%;
}

.testimonialsImages .ManBackground {
  width: 19rem;
  height: 40rem;
  margin-left: -38rem;
}

.testimonialsImages .Man {
  width: 19rem;
  height: 40.2rem;
  margin-left: -19rem;
}

.testimonialsImages .circleTestimonial {
  width: 19rem;
  height: 19rem;

  position: absolute;
  top: 59.5rem;
  left: 3.8rem;
}

.DepositionsGroup {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: -40rem 0 0 20rem;
}

.DepositionsGroup .Depositions {
  width: 50rem;
  height: 17rem;
  background: #706CA3;
  backdrop-filter: blur(5px);
  border-radius: 8rem;
}

.DepositionsGroup .Depositions:nth-child(3) {
  margin-bottom: 1rem;
}

.Depositions .citeDepositions {
  width: 30rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #FFF;
  margin: 3rem 0 1rem 10rem;
}

.Depositions .citeImg {
  margin: -2rem 0 0 9rem;
}

.Depositions .DepositionsName {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.7;
  color: #5DCDE3;
  margin: 0 0 0 15rem;
}