.allTheLeaders{
  background: #4a2bd173;
  filter: blur(.03rem);

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 7rem;
}

.allTheLeaders header {
  width: 511.58px;
  height: 106.73px;
  background: #6645F4;
  border-radius: 379px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1rem 0 5.5rem 0;
}

.allTheLeaders header h1 {
  font-size: 2.7rem;
  font-weight: 700;
  color: #FFF;
  padding: 0 5rem 0 10rem;
}

.allTheLeaders header img {
  width: 21%;
}
 
.allTheLeaders .daysOfTheWeek  {
  display: flex;
  gap: 43px;
}

.allTheLeaders .daysOfTheWeek .Days {
  width: 128px;
  height: 50px;
  color: #DAD3FF;
  border: 3px solid #DAD3FF;
  border-radius: 49px;

  font-size: 25px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
}

.allTheLeaders .daysOfTheWeek .Every {
  background: #DAD3FF;
  color: #601D87;
  font-weight: 600;
}

.allTheLeaders input[type=text] {
  width: 61.5rem;
  height: 50px;
  background: #4a2bd123;
  border: 3px solid #DAD3FF;
  border-radius: 49px;

  font-size: 25px;
  font-weight: 500;
  padding-left: 2rem;
  margin: 2.5rem 0 2rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.allTheLeaders input::placeholder {
  color: #DAD3FF;
}

.allTheLeaders .iconSearch {
  color: #DAD3FF;
  margin: -8.7rem 0 0 58rem;
}

.allTheLeaders .leaderDataGroup {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;

  margin-right: 2.5rem;
  margin-bottom: 6rem;
}
