.applicationForm, 
.applicationFormResult {
  border-radius: 7% 22% 7% 0 / 5% 13% 5% 70%;
  background: #6777C4;
  top: 8%;
  text-align: center;
  position: relative;
  padding: 20px 0;
  margin-bottom: 40px;
}

.applicationFormResult {
  margin-top: 200px;
}

.applicationForm label {
  color: #FFF;
}

.applicationForm .captionTitle {
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 15px 0 16.8px;
}

.applicationForm input::placeholder {
  font-size: 1.1rem;
  font-weight: 300;
  color: #FFF;
}

.applicationForm input:nth-child(1) {
  margin-top: 7px;
}

.applicationForm .button {
  margin: 20px 20px;
}

.applicationForm .formControl {
  width: 90%;
  height: 51.2px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 51px;
  border: none;

  margin: 0 0 16.8px -5px;
  padding-left: 20px;

  font-size: 1.1rem;
  font-weight: 300;
  color: #FFF;

  opacity: 0.92;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.applicationForm .options {
  background: #53609E;
}

.applicationForm .optionsValue {
  background: #5F76FF;
}

.applicationForm .arrowDownOne {
  position: absolute;
  color: #FFF;
  top: 20.7rem;
  left: 22.3rem;
}

.applicationForm .arrowDownTwo {
  position: absolute;
  color: #FFF;
  top: 25rem;
  left: 22.3rem;
}

.applicationForm .checkboxGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: .5rem;

  font-size: 1.1rem;
  color: #FFF;
}

.applicationForm .checkboxGroup .inputFis {
  margin-left: -2rem;
}

.applicationForm .checkboxGroup .inputLygga {
  margin-left: -10rem;
}

.applicationForm .checkboxGroup .inputSym {
  margin-left: -1.4rem;
}

.applicationForm .checkboxGroup .inputCommeets {
  margin-left: -7.2rem;
}

.applicationForm .checkboxGroup .inputAll {
  margin: 0 0 1.3rem -2.5rem;
}

.formCompleted {
  background: #6777C4;

  border-radius: 8% 20% 8% 0 / 15% 35% 15% 77%;

  position: relative;
  top: 31%;

  text-align: center;
  padding-top: 2rem;
  margin-top: 100px;
}

.formCompleted h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #FFF;

  margin-top: 0;
}

.formCompleted img {
  margin: 2.5rem 0;
}


/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .applicationForm .arrowDownOne {
    position: absolute;
    color: #FFF;
    top: 23.7rem;
    left: 33rem;
  }
  
  .applicationForm .arrowDownTwo {
    position: absolute;
    color: #FFF;
    top: 28.5rem;
    left: 33rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .applicationForm .arrowDownOne {
    position: absolute;
    color: #FFF;
    top: 23.7rem;
    left: 32rem;
  }
  
  .applicationForm .arrowDownTwo {
    position: absolute;
    color: #FFF;
    top: 28.5rem;
    left: 32rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .applicationForm .arrowDownOne {
    position: absolute;
    color: #FFF;
    top: 21.7rem;
    left: 12.5rem;
  }
  
  .applicationForm .arrowDownTwo {
   display: none;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .applicationForm input:nth-child(1) {
    margin-top: 6px;
  }

  .applicationForm .captionTitle {
    font-size: 20px;
  }

  .applicationForm .arrowDownOne {
    position: absolute;
    color: #FFF;
    top: 22.7rem;
    left: 17.5rem;
  }
  
  .applicationForm .arrowDownTwo {
    position: absolute;
    color: #FFF;
    top: 27.5rem;
    left: 17.5rem;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
  .applicationForm .captionTitle {
    font-size: 24px;
  }

  .applicationForm .arrowDownOne {
    position: absolute;
    color: #FFF;
    top: 23.5rem;
    left: 21.5rem;
  }
  
  .applicationForm .arrowDownTwo {
    position: absolute;
    color: #FFF;
    top: 28rem;
    left: 21.5rem;
  }
}