.geometric-shapes12 {
  
}

.geometric-shapes13 {
 
}

.application-form {
  width: 447px;
  height: 684px;

  margin: 0 -477px 54px 120px;
  border-radius: 7% 10% 12% 1%;

  background: #6777C4;
}

label {
  color: #FFF;
}

.application-form .caption-title {
  font-family: 'Montserrat';
  color: #FFF;
  font-size: 3.1rem;
  font-weight: 700;

  margin-top: 15px;
}

.application-form input[type=text],
.application-form input[type=email] {
  width: 359px;
  height: 51.2px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 51px;
  margin-bottom: 16.8px;
  padding-left: 20px;
}

.application-form input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #FFF;
}

.application-form input:nth-child(1) {
  margin-top: 30px;
}

.application-form .form-control {
  width: 359px;
  height: 51.2px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 51px;
  border: none;

  margin-bottom: 16.8px;
  padding-left: 20px;
}