.women {
  position: absolute;
  width: 430.99px;
  height: 384.99px;
  left: 122px;
  z-index: 1;
  bottom: 53.55%;
}

.geometric-shapes7 {
  position: absolute;
  width: 271.04px;
  height: 320.04px;
  left: 200px;
  bottom: 55.99%;
}

.geometric-shapes8 {
  position: absolute;
  left: 2.9%;
  right: 84.93%;
  top: 14.33%;
  width: 150px;
  height: 150.04px;
}
.geometric-shapes9 {
  position: absolute;
  left: 2.9%;
  right: 84.95%;
  top: 29%;
  bottom: 95.59%;
  width: 150px;
  height: 160.04px;
}
.geometric-shapes10 {
  position: absolute;
  left: 27%;
  right: 63.37%;
  top: 690px;
  bottom: 90.42%;
  width: 150px;
}
.geometric-shapes11 {
  position: absolute;
  width: 337px;
  height: 110px;
  left: 380px;
  top: 570px;
}
.geometric-shapes14 {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 45.57px;
  top: 485.31px;
}

.logo2 {
  width: 85px;
  height: 85px;
  position: absolute;
  left: 29.88%;
  right: 61.33%;
  top: 54%;
  bottom: 93.87%;
  z-index: 1;
}
.hands {
  position: absolute;
  width: 320.34px;
  height: 340.16px;
  left: 44.55px;
  top: 500.31px;
}
.text {
  position: absolute;
  width: 497px;
  height: 165px;
  left: 400px;
  top: 200px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #fff;
  z-index: 1;
  text-align: left;
}

.text2 {
  width: 500px;
  height: 100px;
  position: absolute;
  left: 29.99%;
  top: 35.55%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  z-index: 1;
  text-align: left;
}
.text3 {
  position: absolute;
  left: 40.46%;
  right: 40.15%;
  top: 54.99%;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  z-index: 1;
  width: 140px;
  height: 60px;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .text3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  p {
    /* flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: justify; */
  }
}
@media (max-width: 768px) {
  p,
  h1 {
    align-items: left;
    font-size: 30px;
  }
}

@media (max-width: 630px) {
  img {
    width: 100%;
  }
}
@media (max-width: 540px) {
  img {
    width: 100%;
  }
}

/* @media (max-width: 768px) {
    
    img
    {
      flex-direction:column;
      align-items:center;
      justify-content:center;
    }
  } */
/* @media (max-width: 1024px) {
    img{
      max-width: 60%; 
      
    }
  } */
/* @media (max-width: 1024px) {
    p {
      width: 100%;
      align-items: left;
      justify-content: center;
    }
  } */
