:root {
  text-align: center;
  font-size: 62.5%; /* 1rem = 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background: #fff !important;
}

.container {
  max-width: 1400px;
  height: 1078px;
  position: relative;
  background: #2A2850;
}
.women{
position: absolute;
width: 300.04px;
height: 340.04px;
left: 200px;
z-index: 1;
bottom: 67.06%;

}
.geometric-shapes7{
position: absolute;
width: 300.04px;
height: 350.04px;
left: 200px;
bottom: 65.06%;
}
.geometric-shapes8{
  position: absolute;
  left: 1.71%;
  right: 84.93%;
  top: 2.30%;
  bottom: 70.06%;
  width: 170px;
}
.geometric-shapes9{
position: absolute;
left: 1.5%;
right: 84.95%;
top: 18.01%;
bottom: 95.59%;
width: 170px;
}

.geometric-shapes10{
position: absolute;
left: 25.73%;
right: 63.37%;
top: 600px;
bottom: 91.42%;
/* transform: rotate(-90deg); */

}
.geometric-shapes11{
  position: absolute;
  width: 300px;
  height: 110px;
  left: 360px;
  top: 460px;
}
/* .geometric-shapes14{
  position: absolute;
left: 29.46%;
right: 43.89%;
top: 7.49%;
bottom: 89.51%;

background: #6777C4;
transform: rotate(-180deg);
} */

.two-hands{
  position: absolute;
width: 300.34px;
height: 300.16px;
left: 30.57px;
top: 400.31px;
transform: matrix(-0.96, -0.26, -0.26, 0.96, 0, 0);
}
.text1{
position: absolute;
width: 300px;
height: 200px;
left: 390px;
top: 250px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 55px;
z-index: 1;
}
.text2{
  position: absolute;
  left: 29.46%;
  right: 40.15%;
  top: 8.48%;
  bottom: 94.89%;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  z-index: 1;
}

