.leaderData {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  margin-block: 7rem 15rem;
}

.leaderData .avatarLeader {
  width: 18rem;
  height: 20rem;
  border-radius: 100%;

  position: absolute;
  top: -2rem;
  left: -3rem;
  z-index: 1;
}

.leaderData .panel {
  width: 13rem;
  height: 20rem;
  margin: -3.5rem 0 0 4rem;
}

.leaderData .leadersDate {
  margin: -2rem 0 0 14.5rem;
  position: absolute;
  z-index: 1;
}

.leaderData .leadersDate .dateDay,
.leaderData .leadersDate .dateMonth {
  width: 65px;
  height: 78px;
  background: #FFF;
  color: #2A2850;
  font-size: 2.7rem;
  font-weight: 700;
  padding: 1.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
}

.leaderData .leadersDate .dateMonth {
  border-top: 4px solid #2A2850;
}

.leaderData .leadersInfo {
  width: 25rem;
  height: 10rem;
  background: #6645F4;
  color: #FFF;
  border-radius: 0% 72% 1% 1% / 14% 209% 0% 0%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 23.5rem 0 0 0;
  padding: .5rem 0 0 1.3rem;

  position: absolute;
  z-index: 1;
}

.leaderData .leadersInfo .leaderName {
  font-size: 1.2rem;
  font-weight: 700;
  word-wrap: break-word;
}

.leaderData .leadersInfo .leaderOffice {
  width: 20rem;
  font-size: 1.1rem;
  font-weight: 500;
}


/* ====== @MEDIA QUERY ========= */

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .leaderData .avatarLeader {
    width: 17rem;
    height: 19rem;
  
    position: absolute;
    top: -2rem;
    left: -3rem;
  }
  
  .leaderData .panel {
    width: 12rem;
    height: 19rem;
    margin: -3.5rem 0 0 4rem;
  }
  
  .leaderData .leadersDate {
    margin: -2rem 0 0 14.5rem;
  }
  
  .leaderData .leadersDate .dateDay,
  .leaderData .leadersDate .dateMonth {
    width: 55px;
    height: 68px;
    font-size: 2.5rem;
    padding: 1.3rem;
  }
  
  .leaderData .leadersInfo {
    width: 21rem;
    height: 9.5rem;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 23.5rem 0 0 0;
    padding: .5rem 0 0 1.3rem;
  }
  
  .leaderData .leadersInfo .leaderName {
    font-size: 1.2rem;
  }
  
  .leaderData .leadersInfo .leaderOffice {
    width: 18rem;
    font-size: 1rem;
  }  
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .leaderData .avatarLeader {
    width: 17rem;
    height: 19rem;
  
    position: absolute;
    top: -2rem;
    left: -3rem;
  }
  
  .leaderData .panel {
    width: 12rem;
    height: 19rem;
    margin: -3.5rem 0 0 4rem;
  }
  
  .leaderData .leadersDate {
    margin: -2rem 0 0 14.5rem;
  }
  
  .leaderData .leadersDate .dateDay,
  .leaderData .leadersDate .dateMonth {
    width: 55px;
    height: 68px;
    font-size: 2.5rem;
    padding: 1.3rem;
  }
  
  .leaderData .leadersInfo {
    width: 20rem;
    height: 9.5rem;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 23.5rem 0 0 0;
    padding: .5rem 0 0 1.3rem;
  }
  
  .leaderData .leadersInfo .leaderName {
    font-size: 1.2rem;
  }
  
  .leaderData .leadersInfo .leaderOffice {
    width: 18rem;
    font-size: 1rem;
  }  
}
