.rowLeaders {
  align-content: center;
  justify-content: center;
}

.spinner {
  margin-top: 2rem;
}

.colLeaders {
  margin-bottom: 5rem;
}

.avatarLeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 17rem;
  margin: 7rem .5rem;
  border-radius: 50% 0 0 50%;

  position: absolute;
  z-index: 1;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 16rem;
  margin: 6rem 7.5rem;
}

.leadersDate {
  margin: -17rem 0 0 16.5rem;
  position: absolute;
  z-index: 999;
}

.leadersDate .dateDay,
.leadersDate .dateMonth {
  width: 65px;
  height: 70px;
  background: #FFF;
  color: #2A2850;
  font-size: 2.7rem;
  font-weight: 700;
  padding: 1.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
}

.leadersDate .dateMonth {
  border-top: 4px solid #2A2850;
}

.leadersInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: -6.5rem .5rem;

  position: absolute;
  z-index: 1;
  width: 26rem;
  height: 12rem;
  background: #6645F4;
  color: #FFF;
  border-radius: 0% 72% 1% 1% / 14% 209% 0% 0%;
}

.leadersInfo .leaderName {
  width: 23rem;
  font-size: 1.2rem;
  font-weight: 700;
  word-wrap: break-word;
}

.leadersInfo .leaderOffice,
.leadersInfo .leaderCompany {
  width: 23rem;
  font-size: 1.1rem;
  font-weight: 500;
}

/* ====== @MEDIA QUERY ========= */

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .avatarLeader {
    width: 18rem;
    height: 17rem;
    margin: 7rem 2.5rem;
  }
  
  .panel {
    width: 12rem;
    height: 16rem;
    margin: 6rem 9.5rem;
  }

  .leadersInfo {
    margin: -6.5rem 1.5rem;
    width: 26rem;
    height: 12rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .avatarLeader {
    width: 18rem;
    height: 17rem;
    margin: 7rem 3.5rem;
  }
  
  .panel {
    width: 12rem;
    height: 16rem;
    margin: 6rem 8.5rem;
  }

  .leadersInfo {
    margin: -6.5rem 1.5rem;
    width: 26rem;
    height: 12rem;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .avatarLeader {
    width: 18rem;
    height: 17rem;
    margin: 7rem 3.5rem;
  }
  
  .panel {
    width: 12rem;
    height: 16rem;
    margin: 6rem 11rem;
  }

  .leadersInfo {
    margin: -6.5rem 3.5rem;
    width: 26rem;
    height: 12rem;
  }
}
