.leaderData {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  margin: 7rem 0 1rem 0;
}

.leaderData .avatarLeader {
  width: 15.5rem;
  height: 17rem;

  position: absolute;
  top: -2rem;
  z-index: 1;
}

.leaderData .pinkElement {
  width: 9.5rem;
  height: 17rem;
  margin: -3rem 0 0 8rem;
}

.leaderData .leadersDate {
  margin: -2rem 0 0 15rem;
  position: absolute;
  z-index: 1;
}

.leaderData .leadersDate .dateDay,
.leaderData .leadersDate .dateMonth {
  width: 50px;
  height: 58px;
  background: #FFF;
  color: #2A2850;
  font-size: 2.3rem;
  font-weight: 700;
  padding: 1.7rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderData .leadersDate .dateMonth {
  border-top: 4px solid #2A2850;
}

.leaderData .leadersInfo {
  width: 15rem;
  height: 5rem;
  background: #6645F4;
  color: #FFF;
  border-radius: 0% 72% 1% 1% / 14% 209% 0% 0%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 17.5rem 0 0 7rem;
  padding: .5rem 0 0 1.3rem;

  position: absolute;
  z-index: 1;
}

.leaderData .leadersInfo .leaderName {
  font-size: 1.1rem;
  font-weight: 700;
}

.leaderData .leadersInfo .leaderOffice {
  font-size: 1rem;
  font-weight: 500;
}
