.rowLeaders {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}

.avatarLeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 17rem;
  margin: 7rem .5rem;
  border-radius: 50% 0 0 50%;

  position: absolute;
  z-index: 1;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 16rem;
  margin: 6rem 7.5rem;
}

.leadersDate {
  margin: -2rem 0 0 14.5rem;
  position: absolute;
  z-index: 1;
}

.leadersDate .dateDay,
.leadersDate .dateMonth {
  width: 65px;
  height: 78px;
  background: #FFF;
  color: #2A2850;
  font-size: 2.7rem;
  font-weight: 700;
  padding: 1.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
}

.leadersDate .dateMonth {
  border-top: 4px solid #2A2850;
}

.leadersInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: -6.5rem .5rem;

  position: absolute;
  z-index: 1;
  width: 26rem;
  height: 12rem;
  background: #6645F4;
  color: #FFF;
  border-radius: 0% 72% 1% 1% / 14% 209% 0% 0%;
}

.leadersInfo .leaderName {
  width: 23rem;
  font-size: 1.2rem;
  font-weight: 700;
  word-wrap: break-word;
}

.leadersInfo .leaderOffice,
.leadersInfo .leaderCompany {
  width: 23rem;
  font-size: 1.1rem;
  font-weight: 500;
}

/* ====== @MEDIA QUERY ========= */

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .leaderData {
    margin-block: 7rem 31rem;
  }

  .leaderData .avatarLeader {
    width: 17rem;
    height: 19rem;
  
    position: absolute;
    top: -3rem;
    left: -9rem;
  }
  
  .leaderData .panel {
    width: 12rem;
    height: 19rem;
    margin: -3.5rem 0 0 4rem;
  }
  
  .leaderData .leadersDate {
    margin: -2rem 0 0 14.5rem;
  }
  
  .leaderData .leadersDate .dateDay,
  .leaderData .leadersDate .dateMonth {
    width: 55px;
    height: 68px;
    font-size: 2.5rem;
    padding: 1.3rem;
  }
  
  .leaderData .leadersInfo {
    width: 22.5rem;
    height: 9.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 37rem 0 0 0;
    padding: .5rem 0 0 1.3rem;
  }
  
  .leaderData .leadersInfo .leaderName {
    font-size: 1.2rem;
  }
  
  .leaderData .leadersInfo .leaderOffice,
  .leaderData .leadersInfo .leaderCompany {
    width: 19.5rem;
    font-size: 1rem;
  }  
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .leaderData {
    margin-block: 7rem 30rem;
  }
  
  .leaderData .avatarLeader {
    width: 17rem;
    height: 19rem;
  
    position: absolute;
    top: -3rem;
    left: -9rem;
  }
  
  .leaderData .panel {
    width: 12rem;
    height: 19rem;
    margin: -3.5rem 0 0 4rem;
  }
  
  .leaderData .leadersDate {
    margin: -2rem 0 0 14.5rem;
  }
  
  .leaderData .leadersDate .dateDay,
  .leaderData .leadersDate .dateMonth {
    width: 55px;
    height: 68px;
    font-size: 2.5rem;
    padding: 1.3rem;
  }
  
  .leaderData .leadersInfo {
    width: 22.5rem;
    height: 9.5rem;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 36rem 0 0 0;
    padding: .5rem 0 0 1.3rem;
  }
  
  .leaderData .leadersInfo .leaderName {
    font-size: 1.2rem;
  }
  
  .leaderData .leadersInfo .leaderOffice,
  .leaderData .leadersInfo .leaderCompany {
    width: 19.5rem;
    font-size: 1rem;
  }  
}
